body {
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
div {
    border: black solid 0.2mm;

    background-color: #f78383;

    * {
        border: black solid 0.2mm;

        background-color: #ce5454;
    }
}

.page {
    display: grid;

    grid-template-columns: 47% 6% 47%;
}

.fullheight {
    height: 100vh;
}